<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style
            include ../styles/main.css
    body
        include ../templates/colors.pug
        include ../templates/headers.pug
        include ../templates/text-field.pug
        include ../templates/radio-btns.pug
        include ../templates/link.pug
        include ../templates/registration-card.pug
