.text-field
    background: #ffffff    
    color: $primary_color_75
    border: 1px solid $primary_color_25
    border-radius: 4px
    padding: 13px 15px 13px 15px
    width: 320px
    font-size: 14px
    line-height: 18px
    
.text-field::-webkit-input-placeholder 
    color: $primary_color_25
.text-field::-moz-placeholder          
    color: $primary_color_25 /* Firefox 19+ */
.text-field:-moz-placeholder           
    color: $primary_color_25 /* Firefox 18- */
    
.text-field:focus, .text-field:not(:focus):valid, .text-field:hover
    outline: none
    border: 1px solid $primary_color_50
