h1.h1.dark-100 This one is the sub-section or widget title
h2.h2.dark-100 Next one is the item title inside widgets
h3.h3.dark-100 This is a label or CTA text
p.text.dark-75 This is the body text which is used for most of the design, like paragraphs, lists, etc.